.watm-dropdown-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.watm-dropdown-menu a {
  text-decoration: none;
  color: black;
}
.watm-dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 5px;
  background: rgb(248, 248, 248);
  border: solid 1px rgb(222, 222, 222);
  width: 320px;
  cursor: pointer;
  position: absolute;
  z-index: 999;
}
.watm-dropdown-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 10px;
  font-size: 16px;
}

.watm-dropdown-menu li {
  font-size: 16px;
  text-transform: uppercase;
  padding: 14px 10px;
  border-top: solid 1px rgb(202, 202, 202);
}

.watm-dropdown-closed .watm-dropdown-menu {
  height: 0px;
}
.watm-dropdown-closed .watm-dropdown-icon span {
  transform: rotate(180deg);
}

.watm-icon {
  background: #052c3b no-repeat center;
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: 999;
  bottom: 35px;
  left: 20px;
  padding: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 1);
  border-radius: 100%;
  cursor: pointer;
}

.watm-trial,
.watm-expired {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAidJREFUeNrsmL9Lw0AUxxttrUILDjpoEQWXbiKCg6soiHMLDkVFREEEN/8CRZ0EcXBRQRD0T/BHbSs4iLopIqgVbbO4+bNoid/A62C4NmnumrZwDz5DLsndl5d3996Lommaq9qsxlWFJkVL0VK0FC1F/7NnoDnIg5kgRWZEKdq+6JRJ/Kk2132xENtJJ2K6FYyDftAIvskpHyABNmlT85sumpN6sACOQRj4Dfd9IAQOwArw8q7JK7gJJMAEUCw8PwqOQHO5RNeRd/uLfK8PROkL2Vo730ZMMzZG2vDMItgDx0VG5BnYAssW1kyKjOk2EDOGxK/m2gcagwvGHIegU6SnzUw/JdbJG3ZtDYw5eXpE6VRg3odn58nDSwXmaACnIj1tTCopxjPvnKftF/AwxlWztd15JgyYLOgVlJB+GGMtpao9MoJEe5wumHycghvyeLpkomNgiFP0AIiLFp0ssBn05DCjF1wcomdpHrME81SM6A4SpTA2pl6tXYBJm4Ij4AbcMypFxUC7yCqPp/ZQwUi1VXkR8AmuwRWNC0njaQtdxSsYBEFwAsLAzzhlQiAKusAw2KGu+w700tiU4b1HWuu2lJ1LgGqJXOeSoZjMdS7bhk11SYKzlOR2qWLccKJzscs02AG1dO0G+2DM7N1y//eYAz30hbKUIc9BdyX/QlilMNFDp5aO2TdR4ZHSxJhaIFT0RiEOgpUeHvIPkxQtRUvRUnRh+xNgAJFmfbUlXz9aAAAAAElFTkSuQmCC');
}

.watm-active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiRJREFUeNrsmL9Lw0AUxxtbrUILDjpYEQSX4iJScXASi4I4W3AoVgQVRPSfcJEOijiooELBwX9AUFttR6lugjjUijZd3PxZpMRv4BVqTJOYXFML9+Az5HJ370vy7t67EyRJctSbNTjq0LhoLpqL5qK56B/2CCQbyegJEnhG5KLNi87pxF/epN8nA7GdtSOmfWAGBEEr+KSP8gZSYI8WtXWTRVukGayCOAgBr+K9B0yCE7AG3FZ9WhXcBlJgFggG+k+DM9BeK9FN9HWDfxw3BBL0h5iKFqXfJir6RMHc7wlH0gAPIwENx2GwYcBnVm18g8aiEhT4yt53gQGwa3IpxUAv6NHx2c1yn5Z3iS3amszaJojYmVyGwbHFjeuU5mEmWplUcip9Xi2K/gCNKu15Pd+uChN26jh0M0pIXyptHdUKjwIj0Y12F0wei4JbKnzpqom+AOM6fdKCIygRAZX3oyDJWnRWYzHsg0XaS83aEs1TbqJKtffAssqLgjuwY2JsmJLTst1VnpXaIw+m6q3Kk2uPd3ADrqndsF+tmBYNnCqewRjwg3MQAl6VXWYSJEAfmKDaI0PhNUht84px9+Trtponl06qJUonlwIt1NLJ5UCxqK5IcJGS3CGIg207Ti5mWQAx4KRnFzgCEb2xtb73WAEB+kNFypCXoP8/XyGsU5jIoeOk+vmFVXjkJDaW1wiVNEgC/38PD37DxEVz0Vw0F61t3wIMALnq+b0yRbJdAAAAAElFTkSuQmCC');
}

.watm-invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlZJREFUeNrsmL9LAzEUx69arYIFBx20CGIXN5GKg5MgCuJcwUFUBCuI6Na/wEHpoIiDDioUHOwfIPizOkp1E0RorWjbRXDwNyLnN/IKel6a8+5aLeTBp+Vyycv3ci/JyzlUVVWKzUqUIjQpWoqWoqVoKfqbXQO1gCREghxyR5SizYtOCeIvY7LfGwOxnSxETNeDEdAFqsELDcojOAKrNKmtGxNtkQowA/ZAP3Br7lcBP9gGc8BltU+rgmvAERgFDgP1h8AuqP0r0eU0ul2/bNcB9ukN2So6rf60tKZOCIz9aKsofhD/dK0oOxz/g2DBQJ9JO0e6AUR1Q0JRYiQ4S5Djgz2Q10z/Ztdptkos0dKktQDwgja6buL4WATDhdxcOsEWZzk6AYkvYnm5xA75sU20dlNJ6dR54Gc0Dh9+lwF7gFlOrWdQplOeEfXt5Dj0CB7WJbgfpP9uQb03nbI60Ug7TYbHq+B+hEb5TlCvzEznTgubaRU3RFQ1YqB9JWek8zYRo6A3R0zHQFzgg4XOod2ikzkmwxqYYPIsvKlJ8vPV0jrZ3pWdWV4IXIAVE20HaR2fKnSWZyX3yICBYsvyWO7xBM7AKZXbso2nDZwqbkEPaAYHoB+4dVYZP9gHLaAPhGmnZOHVTmUBTbtL6us8nycXD+US2ZPLK03U7MllXTOpTkjwOy29G2CPdtK8n1zMMg7CoJSunWATDIva/vV3j2ngozf0TjvkMWj9z58Q5ilMWOiUgkZwb1d4pFR7LJMjVGLgEDT/9/CQX5ikaClaipaic9uHAAMA39CKcIlrXrQAAAAASUVORK5CYII=');
}

.watm-default {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAolJREFUeNrsmM9LG0EUxxMTtYJCBT20obTYS26lFHrwauxF8Gagh9CU0h9Hb/HSnlqxPQniQQ+tIAi1/4Fu0tZCD0V7U0pBm1CTXIoe2mqlyPpd+C6Mw2w2zq7RwDz4kN3J7M7b2e+892ajtm1Hms1aIk1oxmnjtHHaOG2cPmY/gd1AtvwcipqMaJzWd7rso7+q5rjbdWi72AhNXwb3wQC4CP5xUv6CFfCaizq4OU4H5AJ4AfIgDbqk/zvBCFgCr0B70DGDOtwDVsADEK2j/z1ggd6zcrqNsztwwuv6QYFvSGtsr4VYUSyMitRnHLwF+RMq8jN4A17WMWYxTE1fAR8ESciWAylF+7JwD+f4us74cc3160SJac6Ga7PgHY+dVLwLBnmeAjlgCf2nQBY8bVT0KDAqRISZznn07QY7YJPHbnsH+BSmpuWkUlb0+SOdPwLLYELR3g3GOPuu7YNWxX2rfmN7ySPh84LaFW1bfP2iY318CEuQjmj/FW2X/NShq+kDRZuliAgz/B3zuE+rzuDxAMm0U5JIHxecO+u3eG5RHim+hTX26fCY6VNbiM+YmiM1Ql7OJ+QNg+dhZ8SiMFjZJ07roIrTFcWDluqNHo5dc6pAklBswVbBQ01pZcAG2FRUilGJq2FWeUFqjyq422xVXgbsgXXwle2Bk4tXASMXMr/AHZAE70EadCmizAgogBtgCMwzwnwHt9n2WLruB8f6dpo7lwRrCXfnckBNujuXOVAS+q/R4UOG3gVWjDON2Lno8gTMgxjP42ARZP2uPevvHqNMQlnOuJMhv4Cb5/kTwiRl4kgnxjD7Oyx5lO1wrFpDKqvgI0ied3mYL0zGaeO0cdo4XduOBBgAc663SGY10tQAAAAASUVORK5CYII=');
}

.watm-inspector-btn {
  margin: 5px;
  display: none;
  float: left;
}

#watm-inspector-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  border-top: 2px solid #052c3b;
  padding: 20px;
  width: 100%;
}

.watm-inspector-body {
  clear: both;
  padding-top: 10px;
}

.watm-hover {
  border: 2px solid #f00 !important;
  box-sizing: border-box !important;
}

#watm-inspector-bar {
  border: none;
  border-top: 2px solid #052c3b;
}

.watm-modal {
  position: fixed;
  top: 10%;
  padding: 40px 50px;
  border-radius: 8px;
  background-color: white;
  z-index: 60000;
  width: 600px;
  min-height: 100px;
  display: none;
  left: 50%;
  margin-left: -300px;
  max-height: 80%;
  box-sizing: border-box;
}

.watm-modal-on {
  display: flex;
}

.watm-modal-overlay {
  background: #444;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1000px;
  z-index: 20000;
  left: 0px;
}

.watm-modal-close {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: black;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 1px;
  top: -10px;
  right: -10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

#watm-props-modal-body-holder {
  flex: 1;
  overflow: auto;
}

#watm-props-modal-body table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#watm-props-modal-body table tr {
  border: 1px solid #ddd;
}

#watm-props-modal-body table td,
#watm-props-modal-body table th {
  padding: 8px;
}

#watm-props-modal-body table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#watm-props-modal-body table tr:hover {
  background-color: #ddd;
}

#watm-props-modal-body table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #052c3b;
  color: white;
}

#watm-overlay {
  position: fixed!important;
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  background-color: white!important;
  z-index: 999999!important;
}

#watm-editor-body {
  display: none;
  clear: both;
  padding-top: 10px;
  height: 40vh;
}
#watm-editor-body span{
  font-weight: bold;
  font-size: 17px;
}

#watm-editor-body iframe{
  height: 90%;
  width: 97%;
  margin-top: 10px;
  border:none;
  padding:0;
}

.swatch {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
}

.watm-modal-body td {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.hex {
  padding: 10px;
}

.colorInfo {
  padding: 4px;
  display: flex;
  align-items: center;
}

.tippy-box {
  background-color: #052c3b;
  color: #fff;
}

.tippy-box *, .tippy-content {
  color: #fff;
  text-decoration: none;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #052c3b;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #052c3b;
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #052c3b;
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #052c3b;
}

.tippy-content .active {color:#00ff42!important;}
.tippy-content .invalid {color:#ff0000!important;}
.tippy-content .trial,.tippy-content .expired {color:#fcff00!important;}